<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:meta" />
    <!-- this page specific styles -->
    <link rel="stylesheet" href="__CSS__/lib/jquery.dataTables.css" type="text/css" media="screen" />
</head>
<body>
<div id="pad-wrapper" class="datatables-page">

    <div class="row">
        <div style="margin:0 15px;height: 50px;">
            <a class="btn-flat pull-left success add-user" href="__URL__/add"><span>&#43;</span> Add user</a>
        </div>
        <div class="col-md-12">
            <table class="dataTable" id="user-list">
                <thead>
                    <tr role="row">
                        <th>ID
                        </th>
                        <th>Account
                        </th>
                        <th>Nickname
                        </th>
                        <th>Email
                        </th>
                        <th>Phone
                        </th>
                        <th>Status
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <!--<tfoot>
                    <tr role="row">
                        <th>ID
                        </th>
                        <th>Account
                        </th>
                        <th>Nickname
                        </th>
                        <th>Email
                        </th>
                        <th>Phone
                        </th>
                        <th>Status
                        </th>
                        <th>
                            action
                        </th>
                    </tr>
                </tfoot>-->
            </table>

        </div>
    </div>
</div>

<include file="Public:js_basic" />

<!-- this page specific script -->
<script src="__JS__/jquery-ui-1.10.2.custom.min.js"></script>
<script src="__JS__/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#user-list').DataTable({
            "ajax": '__URL__/getUsers',
            "sPaginationType": "full_numbers",
            buttons: [
                'copy', 'excel', 'pdf'
            ],

            "columns": [
            { "data": "id" },
            { "data": "account" },
            { "data": "nickname" },
            { "data": "email" },
            { "data": "mobile"},
            {
                "data": null,
                "bSortable": false,
                "width": "20%",
                "mRender": function (data, type, full) {
                    return 1 == full['status'] ? '<span class="label label-success">Active</span> ' : '<span class="label label-danger">Forbidden</span>'
                }
            },
            {
                "data": null,
                "bSortable": false,
                "width": "20%",
                "mRender": function(data, type, full) {
                    var klass = 1 == full['status']  ? 'btn-danger' : 'btn-success';
                    var content = 1 == full['status']  ? 'Disable' : 'Active';
                    var html = '<a class="btn btn-info btn-sm" href="__URL__/edit?id=' + full['id'] + '" >Edit</a><a class="btn ' + klass  +' btn-sm" style="margin-left: 20px;" name="cs-btn" tag="'+ full['id'] +'">   '+ content +'</a>';
                    return html;
                }
            }
        ]
        });

        $(document).on("click", "a[name='cs-btn']", function(){
            var _id = $(this).attr('tag');
            var _status = $(this).text().trim().toLowerCase() == 'active' ? 1 : -1;
            $.ajax({
                type: "POST",
                url: "__URL__/changeStatus",
                data: {id:_id,status:_status},
                dataType: "json",
                success: function(rtn) {
                    if(rtn){
                        table.ajax.reload();
                    }
                }
            })
        });
    });
</script>

</body>
</html>
