<!DOCTYPE html>
<html>
<head>
    <include file="Public:meta" />
</head>
<body>
<include file="Public:navbar" />

<include file="Public:sidebar" />
<!-- main container -->
<div class="content">
    <!-- settings changer -->
    <include file="Public:changeTheme" />

    <div style="margin:0; padding:2px; overflow:hidden;">
        <iframe id="iframeMain" name="mainFrame" style="width:100%;" frameborder="0" src="__APP__/Board/Page/index" ></iframe>
    </div>
</div>

<include file="Public:footer" />

<include file="Public:js_basic" />

<script type="text/javascript">
    function resetFrame(){
        var iframe = document.getElementById("iframeMain");
        try{
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.min(bHeight, dHeight);
            iframe.height = height;
        }catch (ex){}
    }

    var timer1 = window.setInterval("resetFrame()", 300); //定时开始

    function reinitIframeEND(){
        var iframe = document.getElementById("iframeMain");
        try{
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.min(bHeight, dHeight);
            iframe.height = height;
        }catch (ex){}
        // 停止定时
        window.clearInterval(timer1);
    }

    $(function(){
        resetFrame();

        $('#nav_person_info').click(function(){
            var  bind= $(".nav-personInfo");
            bind.trigger("click");
            window.open(bind.find("a").attr('href'),'mainFrame');
        })

        $('body').css('background-color', '#f7f7f7');
        $("#dark_theme").click(function(){
            $('body').css('background', 'none');
        })
    })
</script>

</body>
</html>