<div class="row row-offcanvas">
    <div class="col-xs-12 text-center" >
        <form class="navbar-form float_search" role="form">
            <div class="form-group">
                <input type="text" placeholder="Product Info" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
        <a href="__APP__">
            <img src="__IMG__/HomePage/logo.gif">
        </a>
        <nav id="nav_menu">

        </nav>
    </div>
</div>