<div class="row row-offcanvas">
    <div class="col-xs-12" style="text-align: center;">
        <form class="navbar-form float_search" role="form">
            <div class="form-group">
                <input type="text" placeholder="Product Info" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
        </form>
        <a href="__APP__">
            <img src="__IMG__/HomePage/logo.gif">
        </a>
        <nav style="margin: 10px 0px;">
            <a href="__APP__/Product/detail">Promotion / Inauguration</a> |
            <a href="">Opening / Moving</a> |
            <a href="">Performance / Exhibition</a> |
            <a href="">Birthday / Birth</a> |
            <a href="">Congratulations</a>
        </nav>
    </div>
</div>