<div class="row row-offcanvas">
    <div class="col-xs-12 text-center" >
        <form class="navbar-form float_search" >
            <div class="form-group">
                <input id="global_key" type="text" placeholder="输入产品名称或编号" class="form-control" />
            </div>
            <input type="button" class="btn btn-success" id="global_search" value="查询" />
        </form>
        <a href="__APP__">
            <img src="__IMG__/HomePage/logo.gif">
        </a>
        <nav id="nav_menu">

        </nav>
    </div>
</div>