
<!--Right navigation bar-->
<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
    <ul class="list-unstyled nav_right">
        <li >
            <a href=""><img src="__IMG__/HomePage/rm_01.gif" ></a>
        </li>
        <li >
            <a href=""><img src="__IMG__/HomePage/rm_02.gif" ></a>
        </li>
        <li >
            <a href=""><img src="__IMG__/HomePage/rm_03.gif" ></a>
        </li>
        <li >
            <a href=""><img src="__IMG__/HomePage/rm_04.gif" ></a>
        </li>
        <li >
            <a href=""><img src="__IMG__/HomePage/rm_05.gif" ></a>
        </li>
        <li>
            <img src="__IMG__/HomePage/rm_06.gif" />
            <a href=""><img
                    src="__IMG__/HomePage/rm_07.jpg" /></a>
            <a href=""><img
                    src="__IMG__/HomePage/rm_08.gif" /></a>
            <a href=""><img
                    src="__IMG__/HomePage/rm_24.gif" /></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/rm_09.gif" ></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/rm_010.gif" ></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/rm_11.gif" ></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/rm_12.gif" ></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/07293246ecoma.jpg" /></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/green.gif"></a> &nbsp;
            <a href=""><img src="__IMG__/HomePage/right_banner02.gif" /></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/rm_13.gif" /></a>
        </li>
        <li>
            <a href=""><img src="__IMG__/HomePage/rm_15.gif" /></a>
            <a href=""><img src="__IMG__/HomePage/rm_17.gif" /></a>
            <a href=""><img src="__IMG__/HomePage/rm_18.gif" /></a>
        </li>
        <li style="padding: 20px 0">
            <a href=""><img src="__IMG__/HomePage/rm_19.gif" /></a>
        </li>
        <li style="padding: 20px 0">
            <a href=""><img src="__IMG__/HomePage/rm_20.gif" /></a>
        </li>
        <li>
            <strong>
                24/7 customer consultation<br/>
                HAPPY CALL CENTER<br/>
            </strong>

            <p>TEL: 02-507-2462</p>
        </li>
        <li>
            <strong>BANK account</strong><br/>
            <p >
                holder: agricultural corporation instead Gardening Co.<br/>
                national 231-01-0274-932 <br/>
                Agricultural 211084-51-048380 <br/>
                we 477-082181-13-001
            </p>
        </li>
        <li>
            <img src="__IMG__/HomePage/main_bank.gif"
                 usemap="#onlinebank">
            <map name="onlinebank">
                <area shape="rect" coords="1,22,62,46" href="">
                <area shape="rect" coords="70,19,113,47" href="">
                <area shape="rect" coords="119,19,176,47" href="">
                <area shape="rect" coords="3,56,63,84" href="">
                <area shape="rect" coords="70,50,107,87" href="">
                <area shape="rect" coords="123,50,175,84" href="">
                <area shape="rect" coords="2,88,59,116" href="">
                <area shape="rect" coords="64,90,118,113" href="">
                <area shape="rect" coords="121,89,176,114" href="">
            </map>
        </li>
        <li style="padding: 20px 0">
            <a href=""><img src="__IMG__/HomePage/rm_14.gif" /></a>
        </li>
        <li style="padding: 20px 0">
            <a href=""><img src="__IMG__/HomePage/rm_23.gif" /></a>
        </li>
        <li style="padding: 20px 0">
            <a href=""><img src="__IMG__/HomePage/agent.jpg" /></a>
        </li>
    </ul>
</div>