<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:meta" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Board/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="__PUBLIC__/Board/js/fileinput.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Board/js/fileinput_locale_es.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>

<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="page-header">
                <h1 style="margin-left:20px;">New Product <small>Product detail</small></h1>
            </div>
            <form class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="code">Code</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="code" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="size">Size</label>
                        <div class="controls">
                            <select id="size">
                                <option value="0" selected>Default</option>
                                <option value="1">Large</option>
                                <option value="2">Medium</option>
                                <option value="3">Small</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="price_cn">Price_cn</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">￥</span>
                                <input id="price_cn" type="number" style="margin-left: -5px;" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="price_kr">Price_kr</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">￥</span>
                                <input id="price_kr" type="number" style="margin-left: -5px;" />
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="manufacturer">Manufacturer</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="manufacturer" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="origin">origin</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="origin" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="desc">description</label>
                        <div class="controls">
                            <textarea id="desc" rows="3"></textarea>
                        </div>
                    </div>



                    <div class="control-group">
                        <label class="control-label" for="active">Active?</label>
                        <div class="controls">
                            <input type="checkbox" id="active" value="1" />
                        </div>
                    </div>

                    <dvi>
                        <label class="control-label">Select File</label>
                        <input id="input-1" type="file" class="file">
                    </dvi>


                    <div class="form-actions">
                        <input type="submit" class="btn btn-success btn-large" value="Save User" /> <a class="btn" href="users.html">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.js"></script>
<script>
</script>
</body>
</html>