<meta charset="utf-8">
<title>Admin | Strass</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Admin panel developed with the Bootstrap from Twitter.">
<meta name="author" content="travis">


<link href="__PUBLIC__/Board/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/Board/css/site.css" rel="stylesheet">
<link href="__PUBLIC__/Board/css/bootstrap-responsive.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->