<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li class="nav-index">
            <a href="__APP__/Board/Page/Index" target="mainFrame">
                <i class="icon-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Users</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="__APP__/Board/User/index" target="mainFrame">User list</a></li>
                <li><a href="__APP__/Board/User/add" target="mainFrame">New user</a></li>
            </ul>
        </li>
        <li>
            <a class="dropdown-toggle" href="tables.html">
                <i class="icon-th-large"></i>
                <span>Products</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="__APP__/Board/Product/index" target="mainFrame" >Product list</a></li>
                <li><a href="__APP__/Board/Product/add" target="mainFrame" >New product</a></li>
            </ul>
        </li>
        <li class="nav-personInfo">
            <a href="__APP__/Board/User/personInfo" target="mainFrame" >
                <i class="icon-cog"></i>
                <span>My Info</span>
            </a>
        </li>
        <li class="nav-calender">
            <a href="__APP__/Board/Page/calendar" target="mainFrame" >
                <i class="icon-calendar-empty"></i>
                <span>Calendar</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->