<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header" />
</head>

<body>

<div class="container" style="max-width: 1050px;">
    <include file="Public:main_nav" />

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-10">
            <img src="__IMG__/Products/c_top_31.jpg" />
            <label>▶ Home&gt; Products by Application&gt; Promotion / Inauguration	</label>
            <div class="row list_product">
                <div class="col-xs-6 col-lg-3">
                    <a href=""><img src="__IMG__/Products/demo1.jpg" /></a>
                    <p>Longevity every listener unhak abacus (Medium)  </p>
                    <p>Product Code: DS-185</p>
                    <p>
                        <img src="__IMG__/HomePage/common_buttons01.gif"/> <strong>60,000</strong> won
                        <img src="__IMG__/HomePage/g_03.gif"/>
                    </p>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <a href=""><img src="__IMG__/Products/demo1.jpg" /></a>
                    <p>Longevity every listener unhak abacus (Medium)  </p>
                    <p>Product Code: DS-185</p>
                    <p>
                        <img src="__IMG__/HomePage/common_buttons01.gif"/> <strong>60,000</strong> won
                        <img src="__IMG__/HomePage/g_03.gif"/>
                    </p>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <a href=""><img src="__IMG__/Products/demo1.jpg" /></a>
                    <p>Longevity every listener unhak abacus (Medium)  </p>
                    <p>Product Code: DS-185</p>
                    <p>
                        <img src="__IMG__/HomePage/common_buttons01.gif"/> <strong>60,000</strong> won
                        <img src="__IMG__/HomePage/g_03.gif"/>
                    </p>
                </div>
                <div class="col-xs-6 col-lg-3">
                    <a href=""><img src="__IMG__/Products/demo1.jpg" /></a>
                    <p>Longevity every listener unhak abacus (Medium)  </p>
                    <p>Product Code: DS-185</p>
                    <p>
                        <img src="__IMG__/HomePage/common_buttons01.gif"/> <strong>60,000</strong> won
                        <img src="__IMG__/HomePage/g_03.gif"/>
                    </p>
                </div>
            </div>
        </div><!--/.col-xs-12.col-sm-10-->

        <include file="Public:righter"/>
    </div><!--/row-->

    <include file="Public:footer" />
</div><!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__JS__/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.js"></script>
<script type="text/javascript" src="__JS__/backtoup.js"></script>
</body>
</html>
