<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Public:header" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="__VD__/jqPagination/css/jqpagination.css" media="all" type="text/css" />
</head>
<style>
    .path_map {
        margin: 20px 0;
    }

    .pd-img{
        height: 200px;
        width: 200px;
    }
</style>

<body>
<div class="container" style="max-width: 1050px;">
    <include file="Public:main_nav" />

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-10">
            <img src="__IMG__/Products/c_top_31.jpg" />
            <label class="path_map"></label>
            <div class="row list_product" id="pd_list">

            </div>
            <div class="pagination pull-right">
                <a href="#" class="first" data-action="first">&laquo;</a>
                <a href="#" class="previous" data-action="previous">&lsaquo;</a>
                <input type="text" readonly="readonly" data-max-page="40" />
                <a href="#" class="next" data-action="next">&rsaquo;</a>
                <a href="#" class="last" data-action="last">&raquo;</a>
            </div>
        </div><!--/.col-xs-12.col-sm-10-->

        <include file="Public:righter"/>
    </div><!--/row-->

    <include file="Public:footer" />
</div><!--/.container-->


<include file="Public:js_basic" />
<script src="__VD__/jqPagination/js/jquery.jqpagination.js" type="text/javascript"></script>


<script>
    $(function(){
        pathMap();
        getProductList(1);
    })


    function getProductList(page){
        var _category = getUrlParameter('category');
        var _type = getUrlParameter('type');

        $.ajax({
            type: "post",
            url: "__URL__/dataList",
            data: {category:_category,type:_type,page:page},
            success: function (rtn){
                if(rtn.status){
                    var element = $("#pd_list");
                    var html = '';
                    element.empty();
                    $.each(rtn.list,function(index,value){
                        html += '<div class="col-xs-6 col-lg-3">';
                        html += '<a href="'+ value['detail_url'] +'"><img src="'+ value['image'] +'" class="pd-img"/></a>';
                        html += '<p>'+ value['name']  + value['size'] + '</p>';
                        html += '<p>Product Code: '+ value['code'] + '</p>';
                        html +=  value['price'];
                        html += '<img src="__IMG__/HomePage/g_03.gif"/></p></div>';
                    });

                    element.append(html);

                    //pagination
                    $('.pagination').jqPagination({
                        max_page:rtn.max_page,
                        page_string:'页码 {current_page} / {max_page}',
                        paged: function(page) {
                            // do something with the page variable
                            getProductList(page);
                        }
                    });
                }else{
                    alert(rtn.info);
                }
            }
        });
    }

    function pathMap(){
        $.ajax({
            type: "post",
            url: "__URL__/ajaxPathMap",
            success: function (rtn){
                if(rtn.status){
                    var list = rtn['list'];

                    $(".path_map").text(list);
                }
            }
        });
        return;
    }
</script>
</body>
</html>
