<html>
<head>
    <title>404 Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="__CSS__/compiled/error-page.css" rel="stylesheet">
</head>

<body>

<!---728x90--->
<img src="__IMG__/404/label.png">
<div class="wrap">
    <div class="logo">
        <img src="__IMG__/404/woody-404.png">
        <!---728x90--->
        <div class="sub">
            <p><a onclick="history.back()">Go Back</a></p> OR
            <p><a href="__APP__/Board">Return Home Page</a></p>
        </div>
    </div>
</div>
<!---728x90--->
