<include file='Public:header'/>

    <!-- Start Content -->
    <div id="content">

        <!-- Start Topbar -->
        <div id="about" class="top-title">
            <div class="section-title">
                <h2>公司简介 / <em>About us</em></h2>
            </div>
        </div>
        <!-- End Topbar -->

        <!-- Start Features -->
        <div class="fullwidth">
            <div class="simple one">

                <div class="imagebox right-margin">
                    <img src="__IMG__/content/about_us.jpg" alt="" />
                </div>
                <div class="about-content">
                    <p>宁波江东增拓贸易有限公司是宁波脚轮专业供应商、环球脚轮驻宁波办事处，主要经营万向轮、液压车、平板车、脚杯、不锈钢脚杯。环球工业脚轮采用先进的设备和科技，最好的材料保证脚轮使用灵活方便，经久耐用，在不同的场合具有耐磨、耐撞击、抗化学品腐蚀、耐低温、耐高温、行驶无轮印、保护地板、噪音小宁静的性能。广泛应用于工厂、医疗、电子、周转车、机箱、机柜、设备、无尘车间、生产流水线、大型超市等众多行业,产品畅销国内外市场。 产品产量、质量居同行业领先地位。还可根据用户需要，提供价廉 物美的产品配套专用脚轮。</p>
                    <p>我们尊崇“踏实、拼搏、责任”的企业精神，并以诚信、共赢、开创经营理念，创造良好的办公环境，以全新的管理模式，完善的技术，周到的服务，卓越的品质为生存根本，我们始终坚持用户至上 用心服务于客户，坚持用自己的服务去打动客户。</p>

                    <p>我们将以最专业的水平，为您提供优质的售前、售中及售后服务，只有专业才有保证。 我们给您更多的选择。</p>
                </div>
            </div>
        </div>
        <!-- End Features -->

    
    </div>
    <!-- End Content -->

</div>
<!-- End Wrapper -->

<include file='Public:footer'/>